@use './variables' as *;

.app-container {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100vh;
    max-width: 1300px;
    margin: 60px auto;
    padding-bottom: 60px;

    @media (min-width: $min-w-desktop) {
        grid-template-columns: 275px 1fr 350px;
        margin: 0 auto;
        padding-bottom: 0;
    }
}