# This .env.example file provides you a list of all available env variables and their default values.
# You can copy this and modify anything you need, however we strongly suggest leaving most of these untouched
# as we continue improving the system to be as performant as possible. That said... hey... if you have resources to waste
# and know what you're doing just go for it. 

TOPIC_NAME=hypermind-swarm-v1
# WARNING: enabling this will use your device's mac address to give you a persistent nickname/profile photo. Everything is 
# encrypted and not available publicly, however it's worth letting you know, so you understand how this works and the implications.
# leaving this disabled (as default) will assign you a different username each time you restart the service.
DEVICE_PERSISTENCE=false
STORAGE_PATH=./storage

# you can increase this but you will lose connection to peers that use the default one.
# more zeroes mean more security but also more time to generate a valid pow
# cpu going brr brr brr
POW_PREFIX=00000
VERIFICATION_POW_PREFIX=00000

MAX_PEERS=100000
MAX_MESSAGE_SIZE=2048
MAX_RELAY_HOPS=10
MAX_CONNECTIONS=50

MAX_SOCKET_BUFFER_SIZE=16384
MAX_MESSAGES_PER_SECOND=10
MAX_SSE_CLIENTS=1000

MAX_CONTENT_LENGTH=2000
MAX_USERNAME_LENGTH=50

HEARTBEAT_INTERVAL=30000
CONNECTION_ROTATION_INTERVAL=300000
PEER_TIMEOUT=45000
SSE_HEARTBEAT_INTERVAL=15000

PING_RATE_LIMIT=5
COMMENT_RATE_LIMIT=10
RATE_LIMIT_WINDOW_MS=10000

DEFAULT_MESSAGE_TTL=10
RELAY_PEER_COUNT=10

LRU_CACHE_CAPACITY=2000

PORT=3000
CHAT_RATE_LIMIT=5000
VISUAL_LIMIT=500

TENOR_API_KEY=LIVDSRZULELA